::-webkit-scrollbar {
    width: 7px;
}
/* *:hover::-webkit-scrollbar {
    width: 10px !important;
} */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:rgb(134, 38, 51)
}
Menu.menu {
    background:rgb(134, 38, 51)
}