::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(134, 38, 51);
}
::-webkit-scrollbar-thumb:vertical:hover{
    background: rgb(149, 53, 66);
}
/* Menu.menu {
    background:rgb(134, 38, 51)
} */