::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(white, rgb(134, 38, 51));
}
::-webkit-scrollbar-thumb:vertical:hover{
    background: white;
}
::-webkit-scrollbar-track{
    /* background: black;
    border-radius: 10px; */
}
/* Menu.menu {
    background:rgb(134, 38, 51)
} */